$padding : 15px;

%layout {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-top:10px;
}
#content
{
    background-color:grey
}

.product
{
    h3
    {
        opacity: 1;
        font-style:italic;
        padding-left:$padding;
    }

    p
    {
        font-size: 12px;
        padding-left:$padding;

    }
}

.head{
    @extend %layout;
    font-size: 35px;
    text-align: center;
    
}

.small{
    @extend %layout;
    font-size:15px;
    
}

.span1 
{
    display: inline-block;
    background-color: red;
    width:1300px;
}
